<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler HML" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\virtualenvs\nd_venv_hml\Scripts\python.exe|C:\virtualenvs\nd_venv_hml\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\virtualenvs\nd_box_env\Scripts\python.exe|C:\virtualenvs\nd_box_env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
