{% extends 'base.html' %}

{% block content %}
<section id="features" class="section-padding" style="padding: 5px;">
	<div class="container">
		<div class="row">

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
					<blockquote class="quote" style="color: black;">
						<p><i>{{ quote }}</i></p>
						<footer class="blockquote-footer">{{ author }}</footer>
					</blockquote>
				</div>
			</div>
		</div>
        <div class="row">
			{% block jund %} {% endblock %}
        </div>
    </div>
</section>


{% endblock %}