
<section id="features" class="section-padding" style="padding: 5px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="content-wrap" style="padding-top: 0px;">
                    <div class="fancy-title title-bottom-border">
                        <h2>Quem Somos</h2>
                    </div>
                    <p><b>Somos as Irmãs de Notre Dame e proclamamos a Bondade e o Amor Providente de Deus. Somos enviadas
                        pela Igreja a ajudar nossos irmãos e irmãs a orientarem sua vida para Deus e experimentem a Sua
                        bondade e o Seu amor providente.</b></p>
                    <p>O carisma da Congregação é: uma profunda experiência da Bondade de Deus e do seu amor providente.
                        Ele se expressa através da vida, da espiritualidade e da missão das Irmãs e dos colaboradores
                        leigos. Estar imbuído do carisma Notre Dame é um convite a experimentar e a proclamar pela vida
                        que Deus é bom e providente.</p>
                    <p>As Irmãs de Nossa Senhora, também conhecidas como Irmãs de Notre Dame de Coesfeld, estão presentes
                        em todos os continentes.</p>
                    <p>A Província Nossa Senhora Aparecida, sediada em Canoas foi fundada em 1962 e mantém oito escolas e
                        comunidades religiosas voltadas à educação e a promoção humana nos Estados do Rio Grande do Sul,
                        Santa Catarina, Tocantins e na cidade de Salaverry no Peru.</p>
                    <div class="row col-mb-50 mb-0">
                        <div class="col-lg-4">
                            <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                                <h4>Missão</h4>
                            </div>
                            <p>Ajudar nossos irmãos e irmãs a orientarem sua vida para Deus, na fé, a fim de que façam
                                também eles a experiência do amor.</p>
                        </div>
                        <div class="col-lg-4">
                            <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                                <h4>Visão</h4>
                            </div>
                            <p>Confiando em Deus, que faz novas todas as coisas, comprometemo-nos a: VIVER a espiritualidade
                                encarnada; CRESCER em relações geradoras de vida; SER uma na diversidade. </p>
                        </div>
                        <div class="col-lg-4">
                            <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                                <h4>Valores</h4>
                            </div>
                            <p>Alegre simplicidade;
                            <br>Bondade e firmeza;
                            <br>Acolhida;
                            <br>Competência profissional;
                            <br>Respeito à dignidade da pessoa, imagem de Deus.</p>
                        </div>
                    </div>
                    <div class="fancy-title title-bottom-border">
                        <h2>Nosso Compromisso</h2>
                    </div>
                    <p>A Província Nossa Senhora Aparecida, sediada em Canoas foi fundada em 1962 e mantém oito escolas e
                        comunidades religiosas voltadas à educação e a promoção humana nos Estados do Rio Grande do Sul,
                        Santa Catarina, Tocantins e na cidade de Salaverry no Peru.</p>
                    <p>Para realizar o tratamento dos dados, a Instituição se compromete com os seguintes princípios:</p>
                    <ul>
                        <li>1. Respeito à privacidade dos titulares;</li>
                        <li>2. Transparência aos titulares sobre as necessidades de tratamento dos seus dados pessoais, a
                            forma, a duração e a exatidão das informações;</li>
                        <li>3. O tratamento dos dados deve atender à finalidade legítima;</li>
                        <li>4. Proteção aos dados pessoais dos titulares nos ambientes digitais e analógicos;</li>
                        <li>5. Limitação do tratamento de dados ao mínimo necessário para realização das atividades e
                            processos;</li>
                        <li>6. Impossibilidade de realização do tratamento dos dados para fins discriminatórios, ilícitos
                            ou abusivos.</li>
                    </ul>
                    <p>Os dados coletados são utilizados para atender o fim da instituição, que é o de prestar serviços
                        educacionais. Logo, são necessárias informações básicas para poder atender a esse fim, tanto no
                        âmbito administrativo como acadêmico.</p>
                    <p>Para o uso adequado destes dados estabelecemos as seguintes orientações:</p>
                    <ul>
                        <li><i class="icon-small icon-ok"></i>Coletar e armazenar dados exclusivamente necessários;</li>
                        <li><i class="icon-small icon-ok"></i>Usar para fins exclusivos de atendimento à missão da instituição;</li>
                        <li><i class="icon-small icon-ok"></i>Qualquer dado deve ser consentido e autorizado pelo cliente
                            através do termo de aceite que terá conhecimento sobre o uso dos mesmos;</li>
                        <li><i class="icon-small icon-ok"></i>Utilizar imagens e/ou voz (de alunos) nas mídias da Associação
                            Notre Dame somente com o termo de consentimento de um dos pais ou do responsável legal, no caso
                            de crianças e adolescentes de idade inferior a 18 anos, de cada imagem publicada;</li>
                        <li><i class="icon-small icon-ok"></i>Qualquer documento produzido pela Associação Notre Dame que
                            contenha dados deve apresentar a orientação da finalidade da coleta dos mesmos;</li>
                        <li><i class="icon-small icon-ok"></i>À eliminação/descarte de cada dado deve ser observada a
                            orientação do uso do dado em cada setor, que será descrito nos termos de consentimento.</li>
                        <li><i class="icon-small icon-ok"></i>Para a coleta dos dados, é fundamental estabelecer a sua real
                            necessidade, que deve estar enquadrada nas finalidades da instituição e ser facilmente
                            justificável ao titular do dado. Qualquer dúvida pode ser solucionada com o Comitê ou
                            diretamente com o <a href="mailto:dpo@nd.org.br">DPO</a> da instituição</li>
                    </ul>
                    <div class="fancy-title title-bottom-border">
                        <h2>Diretrizes</h2>
                    </div>
                    <p>No atendimento ao que é requerido pela legislação e pelos compromissos assumidos nesta política,
                        a Insituição seguirá, em seus processos, as seguintes diretrizes:</p>
                    <ul>
                        <li>I - Os dados pessoais do titular serão processados de forma lícita, leal e transparente;</li>
                        <li>II - Os dados pessoais do titular serão coletados apenas para finalidades determinadas,
                            explícitas e legítimas, não podendo ser tratados posteriormente de forma incompatível com essas
                            finalidades (limitação das finalidades);</li>
                        <li>III - Os dados pessoais do titular serão coletados de forma adequada, pertinente e limitada às
                            necessidades do objetivo para os quais eles são processados (minimização dos dados);</li>
                        <li>IV - Os dados pessoais do titular serão exatos e atualizados sempre que necessário, de maneira
                            que os dados inexatos sejam apagados ou retificados quando possível (exatidão);</li>
                        <li>V - Os dados pessoais do titular serão conservados de forma que permita a identificação dos
                            titulares dos dados apenas durante o período necessário para as finalidades para as quais são
                            tratados, (limitação da conservação, anonimização);</li>
                        <li>VI - Os dados pessoais do titular serão tratados de forma segura, protegidos do tratamento não
                            autorizado ou ilícito e contra sua perda, destruição ou danificação acidental, adotando as
                            medidas técnicas ou organizativas adequadas (integridade e confidencialidade);</li>
                        <li>VII - É garantido ao titular dos dados a consulta gratuita sobre a forma e a duração do
                            tratamento, bem como sobre a integridade de seus dados pessoais (transparência)
                            (Art. 6º - IV e VI da Lei Federal n. 13.709);</li>
                        <li>VIII - Responsabilização e prestação de contas: demonstração, pelo agente, da adoção de medidas
                            eficazes e capazes de comprovar a observância e o cumprimento das normas de proteção de dados
                            pessoais e, inclusive, da eficácia dessas medidas (Art. 6º - X da Lei Federal n. 13.709);</li>
                        <li>IX - Assegurar que o tratamento de dados pessoais somente será realizado nas seguintes hipóteses:</li>
                        <ul>
                            <li><i class="icon-small icon-ok"></i>Mediante o fornecimento de consentimento pelo titular quando assina o contrato de
                                adesão aos serviços prestados pela Associação;</li>
                            <li><i class="icon-small icon-ok"></i>Para o cumprimento de obrigação legal ou regulatória pelo controlador;</li>
                            <li><i class="icon-small icon-ok"></i>Pela administração pública, para o tratamento e uso compartilhado de dados
                                necessários à execução de políticas públicas previstas em leis e regulamentos ou
                                respaldadas em contratos, convênios ou instrumentos congêneres;</li>
                            <li><i class="icon-small icon-ok"></i>Para a realização de estudos por órgão de pesquisa, garantida, sempre que possível,
                                a anonimização dos dados pessoais;</li>
                            <li><i class="icon-small icon-ok"></i>Quando necessário para a execução de contrato ou de procedimentos preliminares
                                relacionados a contrato do qual seja parte o titular, a pedido do titular dos dados;</li>
                            <li><i class="icon-small icon-ok"></i>Para o exercício regular de direitos em processo judicial, administrativo ou
                                arbitral, esse último nos termos da Lei nº 9.307, de 23 de setembro de 1996 (Lei de Arbitragem);</li>
                            <li><i class="icon-small icon-ok"></i>Para a proteção da vida ou da incolumidade física do titular ou de terceiros;</li>
                            <li><i class="icon-small icon-ok"></i>Para a tutela da saúde, em procedimento realizado por profissionais da área da saúde
                                ou por entidades sanitárias;</li>
                            <li><i class="icon-small icon-ok"></i>Quando necessário para atender aos interesses legítimos do controlador ou de
                                terceiros, exceto no caso de prevalecerem direitos e liberdades fundamentais do titular
                                que exijam a proteção dos dados pessoais;</li>
                            <li><i class="icon-small icon-ok"></i>Para a proteção do crédito, inclusive quanto ao disposto na legislação pertinente.</li>
                        </ul>
                    </ul>
                    <div class="fancy-title title-bottom-border">
                        <h2>Linha do tempo</h2>
                    </div>
                    <div class="container">
                        <ul class="process-steps process-5 row col-mb-30 justify-content-center mb-4">
                            <li class="col-sm-6 col-lg-1-5">
                                <a href="#" class="i-bordered i-circled mx-auto icon-group"></a>
                                <h5><b>04/12/2019</b></h5>
                                <h5>Instituída Comissão de Privacidade na Associação</h5>
                            </li>
                            <li class="col-sm-6 col-lg-1-5">
                                <a href="#" class="i-bordered i-circled mx-auto icon-file-contract"></a>
                                <h5><b>18/09/2020</b></h5>
                                <h5>Lei 13.709/2018 entra em vigor</h5>
                            </li>
                            <li class="col-sm-6 col-lg-1-5">
                                <a href="#" class="i-bordered i-circled mx-auto icon-line2-pointer"></a>
                                <h5><b>01 - 09/2020</b></h5>
                                <h5>Mapeamento dos processos de tratamento de dados</h5>
                            </li>
                            <li class="col-sm-6 col-lg-1-5">
                                <a href="#" class="i-bordered i-circled mx-auto icon-user-lock"></a>
                                <h5><b>09/2020</b></h5>
                                <h5>Adequação dos contratos de prestação de serviços</h5>
                            </li>
                            <li class="col-sm-6 col-lg-1-5">
                                <a href="#" class="i-bordered i-circled mx-auto icon-user-shield"></a>
                                <h5><b>01/2021</b></h5>
                                <h5>Adequação dos contratos de trabalho e processos administrativos</h5>
                            </li>
                            <li class="col-sm-6 col-lg-1-5">
                                <a href="#" class="i-bordered i-circled mx-auto icon-book-reader"></a>
                                <h5><b>03/2021</b></h5>
                                <h5>Adequação dos processos educacionais e padagógicos</h5>
                            </li>
                            <li class="col-sm-6 col-lg-1-5">
                                <a href="#" class="i-bordered i-circled mx-auto icon-check-double"></a>
                                <h5><b>04 - 06/2021</b></h5>
                                <h5>Revisões e ajustes nos processos</h5>
                            </li>
                            <li class="col-sm-6 col-lg-1-5">
                                <a href="#" class="i-bordered i-circled mx-auto icon-chalkboard-teacher"></a>
                                <h5><b>08/2021</b></h5>
                                <h5>Treinamento e capacitação em todos os setores</h5>
                            </li>
                            <li class="col-sm-6 col-lg-1-5">
                                <a href="#" class="i-bordered i-circled mx-auto icon-flag-checkered"></a>
                                <h5><b><i class="icon-infinity"></i> </b></h5>
                                <h5>Revisões e melhorias na política e nos processos</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="fancy-title title-bottom-border">
                        <h2>Contato</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">

                            <blockquote class="topmargin bottommargin">
                                <p>Essa Política é parte de um processo contínuo que busca utilizar as suas informações
                                    da maneira mais segura e ética. Totalmente pensado para a nossa comunidade
                                    escolar. Por isso, é muito importante para nós ouvirmos você e conhecer as suas
                                    impressões sobre o que conversamos aqui. O encarregado pelas questões de
                                    privacidade na Instituição é o Juliano Kochhann. Você pode entrar em contato preenchendo
                                    este formulário:</p>
                            </blockquote>

                        </div>

                        <div class="col-lg-6">
                            {% include 'mail_form.html' %}
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
