
        <!-- Content
		============================================= -->
		<section id="content" class="section-padding" style="padding: 5px;">
			<div class="block-tab-3">
				<div class="container mw-xl py-6 clearfix">

					<div class="row">

                        <!-- Side navigation
                        ============================================= -->
                        <div class="col-lg-3 mb-5 mb-lg-0">
                            <div class="nav flex-lg-column" id="side-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="side-tab_visao_geral_tab" data-bs-toggle="pill" href="#side-tab-visao_geral" role="tab" aria-controls="side-tab-visao_geral" aria-selected="true">Visao geral</a>
                                <a class="nav-link" id="side-tab-compromisso-tab" data-bs-toggle="pill" href="#side-tab-compromisso" role="tab" aria-controls="side-tab-compromisso" aria-selected="false">Como utilizamos</a>
                                <a class="nav-link" id="side-tab-diretrizes-tab" data-bs-toggle="pill" href="#side-tab-diretrizes" role="tab" aria-controls="side-tab-diretrizes" aria-selected="false">Diretrizes</a>
                                <a class="nav-link" id="side-tab-implantacao-tab" data-bs-toggle="pill" href="#side-tab-implantacao" role="tab" aria-controls="side-tab-implantacao" aria-selected="false">Implantação</a>
                                <a class="nav-link" id="side-tab-contato-tab" data-bs-toggle="pill" href="#side-tab-contato" role="tab" aria-controls="side-tab-contato" aria-selected="false">Contato</a>
                            </div>
                        </div><!-- #navigation end -->

						<div class="col-lg-9">
							<div class="tab-content" id="side-tab-tabContent">

								<div class="tab-pane fade show active" id="side-tab-visao_geral" role="tabpanel" aria-labelledby="side-tab_visao_geral_tab">

                                    <div class="content-wrap" style="padding-top: 0px;">
                                        <div class="fancy-title title-bottom-border">
                                            <h2>Quem Somos</h2>
                                        </div>
                                        <p><b>Somos as Irmãs de Notre Dame e proclamamos a Bondade e o Amor Providente de Deus. Somos enviadas
                                            pela Igreja a ajudar nossos irmãos e irmãs a orientarem sua vida para Deus e experimentem a Sua
                                            bondade e o Seu amor providente.</b></p>
                                        <p>O carisma da Congregação é: uma profunda experiência da Bondade de Deus e do seu amor providente.
                                            Ele se expressa através da vida, da espiritualidade e da missão das Irmãs e dos colaboradores
                                            leigos. Estar imbuído do carisma Notre Dame é um convite a experimentar e a proclamar pela vida
                                            que Deus é bom e providente.</p>
                                        <p>As Irmãs de Nossa Senhora, também conhecidas como Irmãs de Notre Dame de Coesfeld, estão presentes
                                            em todos os continentes.</p>
                                        <p>A Província Nossa Senhora Aparecida, sediada em Canoas foi fundada em 1962 e mantém oito escolas e
                                            comunidades religiosas voltadas à educação e a promoção humana nos Estados do Rio Grande do Sul,
                                            Santa Catarina, Tocantins e na cidade de Salaverry no Peru.</p>
                                        <div class="row col-mb-50 mb-0">
                                            <div class="col-lg-4">
                                                <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                                                    <h4>Missão</h4>
                                                </div>
                                                <p>Ajudar nossos irmãos e irmãs a orientarem sua vida para Deus, na fé, a fim de que façam
                                                    também eles a experiência do amor.</p>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                                                    <h4>Visão</h4>
                                                </div>
                                                <p>Confiando em Deus, que faz novas todas as coisas, comprometemo-nos a: VIVER a espiritualidade
                                                    encarnada; CRESCER em relações geradoras de vida; SER uma na diversidade. </p>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                                                    <h4>Valores</h4>
                                                </div>
                                                <p>Alegre simplicidade;
                                                <br>Bondade e firmeza;
                                                <br>Acolhida;
                                                <br>Competência profissional;
                                                <br>Respeito à dignidade da pessoa, imagem de Deus.</p>
                                            </div>
                                            <p>A Província Nossa Senhora Aparecida, sediada em Canoas foi fundada em 1962 e mantém oito escolas e
                                            comunidades religiosas voltadas à educação e a promoção humana nos Estados do Rio Grande do Sul,
                                            Santa Catarina, Tocantins e na cidade de Salaverry no Peru.</p>
                                        </div>
                                    </div>

								</div>

                                <div class="tab-pane fade" id="side-tab-compromisso" role="tabpanel" aria-labelledby="side-tab_compromisso_tab">

                                    <div class="content-wrap" style="padding-top: 0px;">
                                        <div class="fancy-title title-bottom-border">
                                            <h2>Nosso Compromisso</h2>
                                        </div>
                                        <p>Para realizar o tratamento dos dados, a Instituição se compromete com os seguintes princípios:</p>
                                        <ul>
                                            <li>1. Respeito à privacidade dos titulares;</li>
                                            <li>2. Transparência aos titulares sobre as necessidades de tratamento dos seus dados pessoais, a
                                                forma, a duração e a exatidão das informações;</li>
                                            <li>3. O tratamento dos dados deve atender à finalidade legítima;</li>
                                            <li>4. Proteção aos dados pessoais dos titulares nos ambientes digitais e analógicos;</li>
                                            <li>5. Limitação do tratamento de dados ao mínimo necessário para realização das atividades e
                                                processos;</li>
                                            <li>6. Impossibilidade de realização do tratamento dos dados para fins discriminatórios, ilícitos
                                                ou abusivos.</li>
                                        </ul>
                                        <p>Os dados coletados são utilizados para atender o fim da instituição, que é o de prestar serviços
                                            educacionais. Logo, são necessárias informações básicas para poder atender a esse fim, tanto no
                                            âmbito administrativo como acadêmico.</p>
                                        <p>Para o uso adequado destes dados estabelecemos as seguintes orientações:</p>
                                        <ul>
                                            <li><i class="icon-small icon-ok"></i>Coletar e armazenar dados exclusivamente necessários;</li>
                                            <li><i class="icon-small icon-ok"></i>Usar para fins exclusivos de atendimento à missão da instituição;</li>
                                            <li><i class="icon-small icon-ok"></i>Qualquer dado deve ser consentido e autorizado pelo cliente
                                                através do termo de aceite que terá conhecimento sobre o uso dos mesmos;</li>
                                            <li><i class="icon-small icon-ok"></i>Utilizar imagens e/ou voz (de alunos) nas mídias da Associação
                                                Notre Dame somente com o termo de consentimento de um dos pais ou do responsável legal, no caso
                                                de crianças e adolescentes de idade inferior a 18 anos, de cada imagem publicada;</li>
                                            <li><i class="icon-small icon-ok"></i>Qualquer documento produzido pela Associação Notre Dame que
                                                contenha dados deve apresentar a orientação da finalidade da coleta dos mesmos;</li>
                                            <li><i class="icon-small icon-ok"></i>À eliminação/descarte de cada dado deve ser observada a
                                                orientação do uso do dado em cada setor, que será descrito nos termos de consentimento.</li>
                                            <li><i class="icon-small icon-ok"></i>Para a coleta dos dados, é fundamental estabelecer a sua real
                                                necessidade, que deve estar enquadrada nas finalidades da instituição e ser facilmente
                                                justificável ao titular do dado. Qualquer dúvida pode ser solucionada com o Comitê ou
                                                diretamente com o <a href="mailto:dpo@nd.org.br">DPO</a> da instituição</li>
                                        </ul>

                                    </div>

								</div>

                                <div class="tab-pane fade" id="side-tab-diretrizes" role="tabpanel" aria-labelledby="side-tab_diretrizes_tab">

                                    <div class="content-wrap" style="padding-top: 0px;">
                                        <div class="fancy-title title-bottom-border">
                                            <h2>Diretrizes</h2>
                                        </div>
                                        <p>No atendimento ao que é requerido pela legislação e pelos compromissos assumidos nesta política,
                                            a Insituição seguirá, em seus processos, as seguintes diretrizes:</p>
                                        <ul>
                                            <li>I - Os dados pessoais do titular serão processados de forma lícita, leal e transparente;</li>
                                            <li>II - Os dados pessoais do titular serão coletados apenas para finalidades determinadas,
                                                explícitas e legítimas, não podendo ser tratados posteriormente de forma incompatível com essas
                                                finalidades (limitação das finalidades);</li>
                                            <li>III - Os dados pessoais do titular serão coletados de forma adequada, pertinente e limitada às
                                                necessidades do objetivo para os quais eles são processados (minimização dos dados);</li>
                                            <li>IV - Os dados pessoais do titular serão exatos e atualizados sempre que necessário, de maneira
                                                que os dados inexatos sejam apagados ou retificados quando possível (exatidão);</li>
                                            <li>V - Os dados pessoais do titular serão conservados de forma que permita a identificação dos
                                                titulares dos dados apenas durante o período necessário para as finalidades para as quais são
                                                tratados, (limitação da conservação, anonimização);</li>
                                            <li>VI - Os dados pessoais do titular serão tratados de forma segura, protegidos do tratamento não
                                                autorizado ou ilícito e contra sua perda, destruição ou danificação acidental, adotando as
                                                medidas técnicas ou organizativas adequadas (integridade e confidencialidade);</li>
                                            <li>VII - É garantido ao titular dos dados a consulta gratuita sobre a forma e a duração do
                                                tratamento, bem como sobre a integridade de seus dados pessoais (transparência)
                                                (Art. 6º - IV e VI da Lei Federal n. 13.709);</li>
                                            <li>VIII - Responsabilização e prestação de contas: demonstração, pelo agente, da adoção de medidas
                                                eficazes e capazes de comprovar a observância e o cumprimento das normas de proteção de dados
                                                pessoais e, inclusive, da eficácia dessas medidas (Art. 6º - X da Lei Federal n. 13.709);</li>
                                            <li>IX - Assegurar que o tratamento de dados pessoais somente será realizado nas seguintes hipóteses:</li>
                                            <ul>
                                                <li><i class="icon-small icon-ok"></i>Mediante o fornecimento de consentimento pelo titular quando assina o contrato de
                                                    adesão aos serviços prestados pela Associação;</li>
                                                <li><i class="icon-small icon-ok"></i>Para o cumprimento de obrigação legal ou regulatória pelo controlador;</li>
                                                <li><i class="icon-small icon-ok"></i>Pela administração pública, para o tratamento e uso compartilhado de dados
                                                    necessários à execução de políticas públicas previstas em leis e regulamentos ou
                                                    respaldadas em contratos, convênios ou instrumentos congêneres;</li>
                                                <li><i class="icon-small icon-ok"></i>Para a realização de estudos por órgão de pesquisa, garantida, sempre que possível,
                                                    a anonimização dos dados pessoais;</li>
                                                <li><i class="icon-small icon-ok"></i>Quando necessário para a execução de contrato ou de procedimentos preliminares
                                                    relacionados a contrato do qual seja parte o titular, a pedido do titular dos dados;</li>
                                                <li><i class="icon-small icon-ok"></i>Para o exercício regular de direitos em processo judicial, administrativo ou
                                                    arbitral, esse último nos termos da Lei nº 9.307, de 23 de setembro de 1996 (Lei de Arbitragem);</li>
                                                <li><i class="icon-small icon-ok"></i>Para a proteção da vida ou da incolumidade física do titular ou de terceiros;</li>
                                                <li><i class="icon-small icon-ok"></i>Para a tutela da saúde, em procedimento realizado por profissionais da área da saúde
                                                    ou por entidades sanitárias;</li>
                                                <li><i class="icon-small icon-ok"></i>Quando necessário para atender aos interesses legítimos do controlador ou de
                                                    terceiros, exceto no caso de prevalecerem direitos e liberdades fundamentais do titular
                                                    que exijam a proteção dos dados pessoais;</li>
                                                <li><i class="icon-small icon-ok"></i>Para a proteção do crédito, inclusive quanto ao disposto na legislação pertinente.</li>
                                            </ul>
                                        </ul>

                                    </div>

								</div>

                                <div class="tab-pane fade" id="side-tab-implantacao" role="tabpanel" aria-labelledby="side-tab_implantacao_tab">

                                    <div class="content-wrap" style="padding-top: 0px;">
                                        <div class="fancy-title title-bottom-border">
                                            <h2>Linha do tempo</h2>
                                        </div>
                                        <div class="container">

                                            <div class="row feature-box-border-vertical border-hover-animate col-mb-50 justify-content-center align-items-center my-5">
                                                <div class="feature-box fbox-effect fbox-dark">
                                                    <div class="fbox-icon bg-white fbox-effect fbox-dark">
                                                        <i class="i-circled i-large icon-group"></i>
                                                    </div>
                                                    <div class="fbox-content">
                                                        <h3 class="nott text-larger mb-2">04/12/2019</h3>
                                                        <p>
                                                            Instituída Comissão de Privacidade na Associação
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="feature-box fbox-effect fbox-light">
                                                    <div class="fbox-icon bg-white fbox-effect fbox-dark">
                                                        <i class="i-circled i-large icon-file-contract"></i>
                                                    </div>
                                                    <div class="fbox-content">
                                                        <h3 class="nott text-larger mb-2">18/09/2020</h3>
                                                        <p>
                                                            Lei 13.709/2018 entra em vigor, exigindo mais cuidados no
                                                            tratamento dos dados pessoais
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="feature-box fbox-effect fbox-light">
                                                    <div class="fbox-icon bg-white fbox-effect fbox-dark">
                                                        <i class="i-circled i-large icon-line2-pointer"></i>
                                                    </div>
                                                    <div class="fbox-content">
                                                        <h3 class="nott text-larger mb-2">01 a 09/2020</h3>
                                                        <p>
                                                            Mapeamento dos processos de tratamento de dados em todos
                                                            os setores e unidades da Rede ND
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="feature-box fbox-effect fbox-light">
                                                    <div class="fbox-icon bg-white fbox-effect fbox-dark">
                                                        <i class="i-circled i-large icon-user-lock"></i>
                                                    </div>
                                                    <div class="fbox-content">
                                                        <h3 class="nott text-larger mb-2">09/2020</h3>
                                                        <p>
                                                            Adequação dos contratos de prestadores de serviço
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="feature-box fbox-effect fbox-light">
                                                    <div class="fbox-icon bg-white fbox-effect fbox-dark">
                                                        <i class="i-circled i-large icon-user-shield"></i>
                                                    </div>
                                                    <div class="fbox-content">
                                                        <h3 class="nott text-larger mb-2">01/2021</h3>
                                                        <p>
                                                            Adequação dos contratos de trabalho e processos administrativos
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="feature-box fbox-effect fbox-light">
                                                    <div class="fbox-icon bg-white fbox-effect fbox-dark">
                                                        <i class="i-circled i-large icon-book-reader"></i>
                                                    </div>
                                                    <div class="fbox-content">
                                                        <h3 class="nott text-larger mb-2">03/2021</h3>
                                                        <p>
                                                            Adequação dos processos educacionais e pedagógicos
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="feature-box fbox-effect fbox-light">
                                                    <div class="fbox-icon bg-white fbox-effect fbox-dark">
                                                        <i class="i-circled i-large icon-check-double"></i>
                                                    </div>
                                                    <div class="fbox-content">
                                                        <h3 class="nott text-larger mb-2">04 a 06/2021</h3>
                                                        <p>
                                                            Revisões e ajustes nos processos
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="feature-box fbox-effect fbox-light">
                                                    <div class="fbox-icon bg-white fbox-effect fbox-dark">
                                                        <i class="i-circled i-large icon-chalkboard-teacher"></i>
                                                    </div>
                                                    <div class="fbox-content">
                                                        <h3 class="nott text-larger mb-2">08/2021</h3>
                                                        <p>
                                                            Treinamento e capacitação em todos os setores
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>

                                                <div class="feature-box fbox-effect fbox-light noborder">
                                                    <div class="fbox-icon bg-white fbox-effect fbox-dark">
                                                        <i class="i-circled i-large icon-flag-checkered"></i>
                                                    </div>
                                                    <div class="fbox-content">
                                                        <h3 class="nott text-larger mb-2"><b><i class="icon-infinity"></i> </b></h3>
                                                        <p>
                                                            Revisões e melhorias na política e nos processos
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="clear"></div>

                                            </div>

                                        </div>

                                    </div>

								</div>

                                <div class="tab-pane fade" id="side-tab-contato" role="tabpanel" aria-labelledby="side-tab_contato_tab">

                                    <div class="content-wrap" style="padding-top: 0px;">
                                        <div class="fancy-title title-bottom-border">
                                            <h2>Contato</h2>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6" style="width: auto;">

                                                <blockquote class="topmargin bottommargin">
                                                    <p>Essa Política é parte de um processo contínuo que busca utilizar as suas informações
                                                        da maneira mais segura e ética. Totalmente pensado para a nossa comunidade
                                                        escolar. Por isso, é muito importante para nós ouvirmos você e conhecer as suas
                                                        impressões sobre o que conversamos aqui. O encarregado pelas questões de
                                                        privacidade na Instituição é o Juliano Kochhann. Você pode entrar em contato com ele
                                                        preenchendo este formulário:</p>
                                                </blockquote>

                                            </div>

                                            <div class="col-lg-6" style="width: auto;">
                                                {% include 'mail_form.html' %}
                                            </div>

                                        </div>

                                    </div>

								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</section><!-- #content end -->
