{% extends 'index.html' %}
{% block dashboard %}

<div class="row">

	<!-- Column 1 -->
	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<div class="content-right">

			<!-- Item 1 -->
			<div class="box-item wow fadeInRight" data-wow-delay="0.3s">
				<span class="icon">
					<i class="icon-university"></i>
				</span>
				<div class="text">
					<h4><a href="https://www.webnd.com.br/portalnotas/" target="_blank" style="color: #172a60;">Portal Acadêmico</a></h4>
				</div>
			</div><!-- #item end -->

			<!-- Item 2 -->
			<div class="box-item wow fadeInRight" data-wow-delay="0.9s">
				<span class="icon">
					<i class="icon-study"></i>
				</span>
				<div class="text">
					<h4><a href="#" style="color: #172a60;"data-bs-toggle="modal" data-bs-target="#modal_unidades">Portal do Aluno</a></h4>
				</div>
			</div><!-- #item end -->

			<!-- Item 3 -->
			<div class="box-item wow fadeInRight" data-wow-delay="1.5s">
				<span class="icon">
					<i class="icon-book2"></i>
				</span>
				<div class="text">
					<h4><a href="https://www.webnd.com.br/biblioteca" target="_blank" style="color: #172a60;">Biblioteca</a></h4>
				</div>
			</div><!-- #item end -->
		</div>
	</div><!-- #column end -->

	<!-- Column 2 -->
	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<div class="content-right">

			<!-- Item 1 -->
			<div class="box-item wow fadeInRight" data-wow-delay="0.5s">
				<span class="icon">
					<i class="icon-laptop-house"></i>
				</span>
				<div class="text">
					<h4><a href="https://www.webnd.com.br/portal" target="_blank" style="color: #172a60;">Portal ND</a></h4>
				</div>
			</div><!-- #item end -->

			<!-- Item 2 -->
			<div class="box-item wow fadeInRight" data-wow-delay="1.1s">
				<span class="icon">
					<i class="icon-bar-chart"></i>
				</span>
				<div class="text">
					<h4><a href="https://www.webnd.com.br/GVDecision/" target="_blank" style="color: #172a60;">GV Decision</a></h4>
				</div>
			</div><!-- #item end -->

			<!-- Item 3 -->
			<div class="box-item wow fadeInRight" data-wow-delay="1.7s">
				<span class="icon">
					<i class="icon-line2-doc"></i>
				</span>
				<div class="text">
					<h4><a href="https://www.webnd.com.br/ERP/" target="_blank" style="color: #172a60;">GV Contabilidade</a></h4>
				</div>
			</div><!-- #item end -->
		</div>
	</div><!-- #column end -->

	<!-- Column 3 -->
	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<div class="content-right">

			<!-- Item 1 -->
			<div class="box-item wow fadeInRight" data-wow-delay="0.7s">
				<span class="icon">
					<i class="icon-lock2"></i>
				</span>
				<div class="text">
					<h4><a href="{% url 'privacidade' %}" target="_self" style="color: #172a60;">Portal de Privacidade</a></h4>
				</div>
			</div><!-- #item end -->

			<!-- Item 2 -->
			<div class="box-item wow fadeInRight" data-wow-delay="1.3s">
				<span class="icon">
					<i class="icon-line2-rocket"></i>
				</span>
				<div class="text">
					<h4><a href="{% url 'carreiras' %}" target="_self" style="color: #172a60;">Portal de Carreiras</a></h4>
				</div>
			</div><!-- #item end -->

			<!-- Item 3 -->
			<div class="box-item wow fadeInRight" data-wow-delay="1.9s">
				<span class="icon">
					<i class="icon-line-umbrella"></i>
				</span>
				<div class="text">
					<h4><a href="{% url 'intranet' %}" target="_self" style="color: #172a60;">Intranet</a></h4>
				</div>
			</div><!-- #item end -->
		</div>
	</div><!-- #column end -->

</div><!-- #row end -->

{% endblock %}