{% extends 'login_index.html' %}
{% block form %}

{% if validlink %}

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
        {% for key, value in form.errors.items %}
            <strong>{{ value }}</strong>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <form class="clearfix" method="post" class="mb-0">
    {% csrf_token %}
        <h4 style="color: #172a60;">Escolha uma nova senha</h4>
        <div class="row">
            <div class="col-12 form-group">
                <label for="id_new_password1" class="capitalize t600">Nova senha:</label>
                <div class="input-group toggle-password" data-icon-off="icon-line-unlock" data-icon-on="icon-line-lock">
                    <input type="password" class="form-control" name="new_password1" required id="id_new_password1">
                    <button class="btn border-start-0 btn-outline-secondary icon-line-lock btn-password-toggle" type="button" style="border-color: #ced4da"></button>
                </div>
            </div>
            <div class="col-12 form-group">
                <label for="id_new_password2" class="capitalize t600">Confirmação:</label>
                <div class="input-group toggle-password" data-icon-off="icon-line-unlock" data-icon-on="icon-line-lock">
                    <input type="password" class="form-control" name="new_password2" required id="id_new_password2">
                    <button class="btn border-start-0 btn-outline-secondary icon-line-lock btn-password-toggle" type="button" style="border-color: #ced4da"></button>
                </div>
            </div>
            <div class="form-group">
                <button class="button button-border button-rounded button-blue m-0" id="login-form-submit" name="login-form-submit" value="submit">Alterar</button>
            </div>
        </div>

    </form>

{% else %}
    <div class="alert alert-warning">
        O link utilizado não é mais válido, provavelmente porque já foi utilizado. Você pode solicitar um novo link,
        <a href="{% url 'password-reset' %}">clicando aqui</a>
    </div>
{% endif %}

{% endblock %}