
<!-- Modal -->
<div class="modal fade" id="modal_unidades" tabindex="-1" role="dialog" aria-labelledby="modal_unidades_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Selecione a Unidade</h4>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">

         <div class="box-item">
			<div class="text">
			  <h5><a href="https://www.webnd.com.br/_nd/ndPortalAlunos/index.php?ndCDlluno=21312132132fsasf231adsf32as1f32a1sf32d1f32ds1f23231sdf32k02231313233321230ddzaddve"
                     target="_blank" style="color: #172a60;">Colégio Maria Auxiliadora</a></h5>
            </div>
		  </div>

          <div class="box-item">
			<div class="text">
			  <h5><a href="https://www.webnd.com.br/_nd/ndPortalAlunos/index.php?ndCDlluno=21312132134fsasf231adsf32as1f32a1sf32d1f32ds1f23231sdf32k14231313233321230ddzaddve"
                     target="_blank" style="color: #172a60;">Colégio Santa Teresinha</a></h5>
            </div>
		  </div>

          <div class="box-item">
			<div class="text">
			  <h5><a href="https://www.webnd.com.br/_nd/ndPortalAlunos/index.php?ndCDlluno=21312132133fsasf231adsf32as1f32a1sf32d1f32ds1f23231sdf32k11231313233321230ddzaddve"
                     target="_blank" style="color: #172a60;">Escola Madre Júlia</a></h5>
            </div>
		  </div>

          <div class="box-item">
			<div class="text">
			  <h5><a href="https://www.webnd.com.br/_nd/ndPortalAlunos/index.php?ndCDlluno=21312132136fsasf231adsf32as1f32a1sf32d1f32ds1f23231sdf32k06231313233321230ddzaddve"
                     target="_blank" style="color: #172a60;">Escola Maria Rainha</a></h5>
            </div>
		  </div>

          <div class="box-item">
			<div class="text">
			  <h5><a href="https://www.webnd.com.br/_nd/ndPortalAlunos/index.php?ndCDlluno=21312132135fsasf231adsf32as1f32a1sf32d1f32ds1f23231sdf32k13231313233321230ddzaddve"
                     target="_blank" style="color: #172a60;">Escola N. Sra. Estrela do Mar</a></h5>
            </div>
		  </div>
          <div class="box-item">
			<div class="text">
			  <h5><a href="https://www.webnd.com.br/_nd/ndPortalAlunos/index.php?ndCDlluno=21312132137fsasf231adsf32as1f32a1sf32d1f32ds1f23231sdf32k10231313233321230ddzaddve"
                     target="_blank" style="color: #172a60;">Escola Sagrada Família</a></h5>
            </div>
		  </div>
          <div class="box-item">
			<div class="text">
			  <h5><a href="https://www.webnd.com.br/_nd/ndPortalAlunos/index.php?ndCDlluno=21312132138fsasf231adsf32as1f32a1sf32d1f32ds1f23231sdf32k09231313233321230ddzaddve"
                     target="_blank" style="color: #172a60;">Escola Sag. Coração de Jesus</a></h5>
            </div>
		  </div>
          <div class="box-item">
			<div class="text">
			  <h5><a href="https://www.webnd.com.br/_nd/ndPortalAlunos/index.php?ndCDlluno=21312132139fsasf231adsf32as1f32a1sf32d1f32ds1f23231sdf32k12231313233321230ddzaddve"
                     target="_blank" style="color: #172a60;">Escola Santa Catarina</a></h5>
            </div>
		  </div>
        </div>

        </div>
    </div>
</div>
