<!-- Modal -->
<div class="modal fade" id="modal_new_feature" tabindex="-1" role="dialog" aria-labelledby="modal_new_feature_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Nova Funcionalidade</h4>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">

                <p>Em breve uma nova funcionalidade estará disponível!</p>
            </div>

        </div>
    </div>
</div>
