{% autoescape off %}
  Olá {{ user.first_name }}
  Você solicitou a alteração da sua senha no sistema ND Box. Para dar início ao processo, clique no link abaixo:

  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

  Se o link não funcionar, você pode copiá-lo e colar no seu navegador.

  Caso não reconheça o conteúdo desta mensagem, encaminhe este e-mail para dpo@nd.org.br.

  Esta é uma mensagem automática, não responda. Para mais informações, envie mensagem para tecnologia@nd.org.br

  Sistema ND Box
  Associação Notre Dame
{% endautoescape %}
