{% extends 'email/base_email.html' %}
{% block content %}

<div class="fancy-title title-bottom-border">
    <h2 class="b-text">Solicitação de cadastro no Sistema ND Box</h2>
</div>
<br>
<p class="b-text">Agora falta pouco!</p>
<br>
<ul>
    <li class="b-text">Nome: {{name}}</li>
    <li class="b-text">E-mail: {{email}}</li>
</ul>
<br>
<p class="b-text">
    A solicitação está sendo tratada pelo sistema de registro. Nas próximas horas, você receberá um email com
    as instruções para fazer o primeiro acesso.
</p>
<br>
<p class="b-text">
    Esta é uma mensagem automática, não responda. Para mais informações, envie uma mensagem para tecnologia@nd.org.br
</p>
<br>
<br>
<h3 class="b-text">Sistema ND Box</h3>
<p class="b-text">Associação Notre Dame</p>

{% endblock %}